{{!-- src/views/home.handlebars --}}
<div class="topics">
    <h2>Mathematics Topics</h2>
    <ul>
        <li><a href="/topics/algebra">Algebra</a></li>
        <li><a href="/topics/counting_and_probability">Counting & Probability</a></li>
        <li><a href="/topics/geometry">Geometry</a></li>
        <li><a href="/topics/intermediate_algebra">Intermediate Algebra</a></li>
        <li><a href="/topics/number_theory">Number Theory</a></li>
        <li><a href="/topics/prealgebra">Pre-Algebra</a></li>
        <li><a href="/topics/precalculus">Precalculus</a></li>
    </ul>
</div>